@import 'animations.css';
@import 'typography.css';

@tailwind base;

@tailwind components;

@tailwind utilities;

/* ROOT STYLES*/

:root {
    --iphone5: 320px;
    --xsm: 480px;
    --sm: 768px;
    --md: 1024px;
    --lg: 1280px;
    --xl2: 1440px;
    --xl: 1680px;
    --xxl: 1920px;
}

html {

    @apply .font-roboto .bg-wp-blue-dark .text-white .tracking-wider;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: default;

}


/* BUTTONS */

button:focus {
    outline: none;
}

/* PRICE TAG */

.price-tag {
    @apply absolute text-white font-bold px-20 py-4;

    font-size-responsive: 1.3rem 1.3rem 1440px 1680px;
    font-size-responsive: 1.2rem 1.3rem 768px 1440px;
    font-size-responsive: 1.1rem 1.2rem 320px 768px;

    background: #c05621;
    bottom: 24px;
    right: -4rem;

    transform: rotate(-45deg);

}

/* SECTION */

section {
    margin-bottom: -1px;
}

section:not([id="top"]) {
    @apply .bg-wp-blue-background .pt-4 .relative
}

section#stay-tuned {
    @apply .bg-wp-blue-dark;
}

/* HEADER */

header {
    @apply .bg-wp-blue-darker .fixed .w-full .z-20;
    z-index: 1000;
}

.logo {
    @apply .cursor-pointer;
    max-width: 8rem;
}

/* Menu */

.menu-container {
    @apply .flex .items-center .py-2;
}

.menu {
    @apply .flex;
}

.menu li {
    @apply .uppercase .cursor-pointer .mr-8 .pb-4;
}

.menu li:last-child {
    @apply .mr-0;
}

.menu li.active {
    @apply .cursor-default;
}

.menu li i {
    @apply .inline-block .uppercase .text-wp-orange-dark;

}

.menu li.active i {
    @apply .text-wp-orange;
}

.menu li.active i span {
    @apply .text-white .font-bold;
}

.menu li i span {
    /*font-size-responsive: 1.55rem 1.6rem 1680px 1920px;*/
    /*font-size-responsive: 1.35rem 1.55rem 1440px 1680px;*/
    /*font-size-responsive: 1.35rem 1.35rem 480px 1440px;*/
    font-size-responsive: 1rem 1rem 320px 480px;
    @apply .inline-block .font-roboto .text-gray-500 .transition-colors .duration-150;
}

.menu li i:before {
    @apply .inline-block;
    line-height: 1rem;
    transform: translate(-0.4rem, 0.05rem);
}

.menu li:hover i span {
    @apply .text-white;
}

.menu li:hover i {
    @apply .text-wp-orange;
}

.hamburger {
    display: none;
    @apply .transition-colors .duration-150;
}

@media (max-width: 900px) {
    .hamburger {
        display: block;
    }
}

.hamburger:hover {
    @apply .text-wp-blue-light;
}

/* SECTION #top */

.planet {
    @apply .fixed .right-0 .z-10;
}

.main-headline {
    @apply .relative;
}

.main-headline h1 {
    @apply .uppercase;
}

section#top button#see-more {
    font-size-responsive: 15px 16px 1280px 1920px;
    font-size-responsive: 14px 15px 768px 1280px;
    @apply .mt-4 .uppercase .border .border-wp-blue-lighter .px-4 .py-2 .text-gray-500 .tracking-wider;
}

section#top button#see-more:hover {
    @apply .bg-wp-orange-dark .border-wp-orange-dark .text-white;

}

section#top {
    background-image: linear-gradient(to right, #11111a, rgba(1, 2, 14, 0) 70%);
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    z-index: 0;
}

section#top #stars {
    @apply .fixed .h-screen;
}

footer {
    @apply .relative .z-10;
}

img.planet {
    top: 25vh;
    width: 50vw;
    z-index: -1;
    filter: saturate(120%) brightness(110%);
}

section#top h1 {
    font-size-responsive: 1.55rem 1.6rem 1680px 1920px;
    font-size-responsive: 1.35rem 1.55rem 1440px 1680px;
    font-size-responsive: 1.2rem 1.35rem 1280px 1440px;
    font-size-responsive: 1.35rem 1.2rem 480px 1280px;
    font-size-responsive: 1.3rem 1.35rem 320px 480px;
}

section#top h2 {

    font-size-responsive: 1.25rem 1.35rem 1680px 1920px;
    font-size-responsive: 1.15rem 1.25rem 1440px 1680px;
    font-size-responsive: 1.15rem 1.15rem 480px 1440px;
    font-size-responsive: 1.1rem 1.15rem 320px 480px;
    @apply .text-white .mb-8 .font-roboto .lowercase .font-normal;
}

#planet-contents {

    height: 650px;
    background-attachment: fixed;

}

/* SECTION #about-us */

#about-us .left-column {
    @apply .pr-24;
}

#about-us .right-column {
    @apply .pl-24;
}

section#about-us h2 {
    font-size-responsive: 1.3rem 1.3rem 1440px 1680px;
    font-size-responsive: 1rem 1.3rem 768px 1440px;
    font-size-responsive: 1rem 1rem 320px 768px;
    @apply .mb-8;
}

section#about-us p {
    @apply .mb-4;
}

section#about-us p:last-child {
    @apply .mb-0;
}

section#about-us .left-column, section#about-us .right-column {
    width: 50%;
}

section#about-us li {

    transform: translate3d(16px, 0, 0);
    transition-property: transform, opacity;
    transition-duration: 400ms;
    opacity: 0;
    @apply .relative .mt-8 .text-wp-blue-cosmic .tracking-wide .pl-10;
}

section#stay-tuned li, section#offer li {

    transform: translate3d(16px, 0, 0);
    transition-property: transform, opacity;
    transition-duration: 400ms;
    @apply .relative .mt-8 .text-wp-blue-cosmic .tracking-wide .pl-10 !important;
}


section#about-us li:nth-child(1), section#about-us li:nth-child(2) {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

section#about-us li:before, section#stay-tuned li:before, section#offer li:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 1.5rem;
    height: 1.5rem;
    background-size: contain;
    background-image: url("/assets/img/select.svg");
}

/* SECTION #stay-tuned */

section#stay-tuned h2 {
    font-size-responsive: 1.3rem 1.3rem 1440px 1680px;
    font-size-responsive: 1rem 1.3rem 768px 1440px;
    font-size-responsive: 1rem 1rem 320px 768px;
}

section#stay-tuned {
    @apply .pt-0 .bg-wp-blue-darker;
}

li {
    @apply .relative .mt-4 .pl-4  .text-gray-400;
}

section#stay-tuned .col {
    width: 33%;
}

section#stay-tuned .col:first-child img {
    height: 125%;
    bottom: 2rem;
}

section#stay-tuned .col p:first-child {
    @apply .m-0;
}

section#stay-tuned .col:not(:first-child) {
    @apply .p-8;
}

section#stay-tuned .col:not(:first-child) p {
    @apply .mb-4;
}

section#stay-tuned .col:not(:first-child) p:last-of-type {
    @apply .mb-0;
}

/* SECTIONS #online-products, #offer */

section#online-products h2, section#offer h2 {
    font-size-responsive: 1.3rem 1.3rem 1440px 1680px;
    font-size-responsive: 1rem 1.3rem 768px 1440px;
    font-size-responsive: 1rem 1rem 320px 768px;
}

section#online-products h3, section#offer h3 {
    font-size-responsive: 1.25rem 1.25rem 1680px 1920px;
    font-size-responsive: 1.15rem 1.25rem 1440px 1680px;
    font-size-responsive: 1rem 1.15rem 480px 1440px;
    font-size-responsive: 1rem 1rem 320px 480px;
    @apply .relative;
}

.offer-asterisk {
    @apply .mt-8 .text-gray-600
}

section#offer .panel h2 {
    @apply .mb-4;
}

section#offer .panel-container {
    @apply .overflow-hidden .relative;
    opacity: 0.85;
    transition: all 0.2s ease-out;

}

section#offer .panel-container:hover {
    transform-origin: 50% 50%;
    transform: scale(1.03) translateY(4px);
    opacity: 1;
}

section#offer h3, section#gallery h3 {
    @apply .font-roboto;
}

section#offer {
    @apply .block;
}

section#offer .panel {
    height: 570px !important;
}

section#offer .panel .panel-text {
    @apply .block;
}

@media (min-width: 768px) {

    section#offer .panel {
        height: 600px !important;
    }
}

@media (min-width: 1280px) {

    section#offer .panel {
        height: 580px !important;
    }
}

@media (min-width: 1600px) {

    section#offer .panel {
        height: 650px !important;
    }
}

section#online-products, section#offer {
    @apply .bg-wp-blue-darker;
}


section#online-products h3 img {
    @apply .inline-block .w-8 .h-8;
}

section#online-products h3 .prev {
    @apply .mr-16;
}

section#online-products h3 .next {
    @apply .transform .rotate-180;
}

/* PANELS */

.panels {
    @apply .mt-8;
}

.panel {
    height: auto;
}

@media (min-width: 1024px) {
    .panels {
        @apply .flex .justify-between;
    }

    .panel-container {
        width: 30%;
        margin: 0;
    }

    .panel {
        height: 100%;
    }
}

.panel, section#offer .panel {
    @apply .relative .bg-wp-blue-background .mx-auto .border .border-gray-900 .shadow-md;
}


section#offer .panel {
    @apply .overflow-hidden;
}

.panel .panel-wrapper {
    @apply .cursor-default .relative;
}

.panel .panel-top {
    height: 15rem;
    @apply .relative .overflow-hidden;
}

.panel .panel-image {
    @apply .transition-transform .duration-500 .inline-block .w-full .h-full .object-cover;
}

.panel .panel-title {
    @apply .transition-transform .duration-500 .absolute .bottom-0 .w-full .m-auto .py-2 .bg-wp-black-transparent .text-wp-yellow .text-center .font-audiowide;

}

.panel-overlay-text {
    @apply .transition-opacity .delay-300 .duration-500 .absolute .inset-0 .m-auto .p-8 .bg-wp-black-transparent .text-gray-400 .opacity-0 .flex .items-center;
}

.panel-text {
    @apply .px-8 .py-12 .mt-0 .bg-wp-blue-background .text-wp-blue-cosmic .tracking-wide .flex .items-center .justify-center;
}


@media (min-width: 1900px) {

    section#online-products .panel {
        height: 506px;
    }

}

@media (max-width: 1280px) {
    .panel .panel-text {
        @apply .p-6;
    }

    .panel .panel-overlay-text {
        @apply .px-6;
    }
}

@media (max-width: 768px) {
    .panel {
        @apply .m-0;
    }
}

@media (max-width: 480px) and (orientation: portrait) {

    .panel {
        @apply .mb-8;
    }

}

@media (max-height: 320px) {
    .panels .panel {
        @apply .mb-8 .mx-auto;
        max-width: 60%;
    }
}


/* Panel transitions on hover */

.panel-wrapper:hover .panel-title {
    transform: translateY(100%);
}

.panel-wrapper:hover .panel-image {
    transform: scale(1.15);
}

.panel-wrapper:hover .panel-overlay-text {
    @apply .opacity-100;
}


/* SECTION #calculator */

/* Tooltips */

[class*="tooltip"]:hover {
    @apply opacity-50;
}

.tooltipster-light {
    position: absolute;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #ededed;
    color: #666;
}

.tooltipster-light .tooltipster-content {
    @apply .font-roboto .text-lg .px-2 .py-4;

    line-height: 16px;
}

.tooltip_templates {
    display: none;
}

/* Calculator styles */

@media (max-width: 1024px) and (orientation: portrait) {
    section#calculator {
        height: calc(1024px - 106px);
    }
}

@media (max-width: 768px) {
    section#calculator {
        @apply h-auto;
    }
}


@media (min-width: 1300px) and (orientation: landscape) {

    section#calculator .calculator-header {
        @apply .absolute;
        width: 330px;
    }

    section#calculator form {
        @apply .ml-auto;
        width: 870px;
    }

    section#calculator .calculator-header h2 {
        @apply .mb-4;
    }
}


@media (min-width: 1600px) {

    section#calculator .calculator-header {
        @apply .absolute;
        width: 400px;
    }

    section#calculator form {
        @apply .ml-auto;
        width: 950px;
    }
}

section#calculator, section#portfolio {
    /*@apply .bg-wp-blue-darker;*/

    background: linear-gradient(to bottom, #0e0e16 0%, #050505 100%);

}


section#portfolio {
    display: none;
    height: 100vh;
}

@media (min-width: 1024px) {
    section#portfolio {
        display: block;
    }
}


section#calculator h2, section#portfolio h2 {
    font-size-responsive: 1.3rem 1.3rem 1440px 1680px;
    font-size-responsive: 1rem 1.3rem 768px 1440px;
    font-size-responsive: 1rem 1rem 320px 768px;
}

section#calculator h3, section#portfolio h3 {
    font-size-responsive: 1.25rem 1.25rem 1680px 1920px;
    font-size-responsive: 1.15rem 1.25rem 1440px 1680px;
    font-size-responsive: 1rem 1.15rem 480px 1440px;
    font-size-responsive: 1rem 1rem 320px 480px;
    @apply .font-roboto;
}

section#portfolio h3 {
    @apply .mb-16;
}

section#calculator .calculator-table {
    @apply .mx-auto .mt-8 .border-collapse;
    max-width—: 1440px;
}

section#calculator .calculator-table tbody td {
    margin: 0;

}

section#calculator .calculator-table thead tr td {
    @apply .pb-4 .text-center;
}

section#calculator .calculator-table td img {
    @apply .inline-block .mr-2 .mb-1 .relative .cursor-pointer;
    width: 20px;
}

section#calculator .calculator-table td span {

    font-size-responsive: 1.2rem 1.2rem 1680px 1920px;
    font-size-responsive: 1.1rem 1.2rem 1440px 1680px;
    font-size-responsive: 1rem 1.1rem 480px 1440px;
    font-size-responsive: 1rem 1rem 320px 480px;

    @apply .inline-block;
}

section#calculator .calculator-table tr td.custom {
    @apply .text-center .text-base .text-gray-400 .px-8 .w-56;

}

section#calculator .calculator-table tbody td {
    @apply .text-center .py-2;
}

section#calculator .calculator-table tbody td:first-child {
    @apply .text-left .pl-4 .pr-8;
}


section#calculator .calculator-table tbody td.value {
    @apply .text-left .px-4 .text-center;
    width: 52px;
}

section#calculator .calculator-table tbody tr {
    @apply .bg-wp-blue-table-background .border .border-gray-700;
}

section#calculator button {
    @apply .text-gray-200 .p-2 .rounded .transition-opacity .duration-100;
    min-width: 2.8rem;
    height: 2.8rem;
    line-height: 1;
}

section#calculator form {
    @apply .pb-4;
}

.overlay-contents .form-field button {
    max-width: 100%;
}

.calculator-table button:nth-child(2) {
    @apply .ml-1;
}

button:active {
    opacity: 0.8;
}

button.add, button.remove, button.send, .tax, .sum {
    @apply .text-base;
    max-width: 6rem;
}

button.plus, button.minus {
    @apply .font-bold .p-0;
}

button.minus:hover {
    @apply .bg-orange-500;
}

button.plus:hover, button.add:hover {
    @apply .bg-wp-blue-deepspace-lighter;
}

button.plus, button.add {
    @apply .bg-wp-blue-deepspace;
}

button.send {
    @apply .bg-wp-cyan-dark .block .mx-auto .my-4;
}

button.send:hover {
    @apply .bg-wp-cyan-lighter;
}

button.remove, button.minus {
    @apply .bg-orange-700;
}

.calculator-table tfoot td {
    @apply .pt-4;
}

.calculator-table tfoot td:first-child {
    @apply .text-gray-400;
}

.calculator-table tfoot td:first-child span {
    @apply .font-bold;
}

.calculator-table .info {
    @apply .text-center .text-gray-400;
}

.calculator-table .tax {
    @apply .text-right  .text-gray-400 .mx-auto ;
}

.calculator-table .sum {
    @apply .mx-auto  .font-bold;
}

/* FOOTER */

footer .footer-contents {
    @apply .flex .pt-16 .pb-8;
}

footer .footer-contents .col:not(:first-child) {
    @apply .flex;
}

footer .footer-contents .col:nth-of-type(3) a {
    @apply .block .cursor-pointer .text-gray-400;
}

footer .footer-contents .col:nth-of-type(2) {
    @apply .justify-center;
}

footer .footer-contents .col:nth-of-type(3) {
    @apply .justify-end;
}

footer .footer-contents .col:nth-of-type(1) p:first-child {
    @apply .font-bold .text-white;
}

footer .footer-contents .col:nth-of-type(2) p:first-child {
    @apply .mt-2 .text-white .font-bold;
}

footer p.copy {
    @apply .pb-4 .text-center .text-sm .text-gray-300;
}

/* OTHER */

/* Site overlay */

.overlay-container {
    @apply .fixed .hidden .inset-0 .bg-wp-spinner-background .opacity-85;
    z-index: 9998;
}

.overlay-contents {
    @apply .fixed .hidden .inset-0 .items-center .justify-center .mx-auto;
    z-index: 9999;
    max-width: 480px;
}

.overlay-contents form .form-field {
    @apply .w-full .mb-4 .h-24
}

.overlay-contents form .form-field:last-child {
    @apply .mb-0;
}

.overlay-contents form label {
    @apply .text-black .block;
    font-size-responsive: 1.2rem 1.3rem 1680px 1920px;
    font-size-responsive: 0.9rem 1.2rem 320px 1680px;
}

.overlay-contents form label.error {
    @apply .text-wp-red;
}

/* Preloader */

.preloader {
    z-index: 5000;
    @apply .bg-black .flex .items-center .justify-center .fixed .inset-0 .bg-wp-spinner-background;
}

.spinner {
    width: 5rem;
}

/* Indicators */

.indicators {
    @apply .absolute;
    z-index: 1000;
    right: -7rem;
    top: 0;

}

.indicator {
    position: relative;
    display: block;
    box-sizing: border-box;
    margin-top: 25px;
    width: 32px;
    height: 32px;
    border: 4px solid #628ea4;
    transition: opacity 0.3s ease;
    transform: rotate(45deg);
}

.indicator span {
    @apply .inline-block .ml-10 .pb-1 .uppercase;
    transform: rotate(-45deg) translate(2.5rem, -5.5rem);
    opacity: 0;
    width: 10rem;
}

.indicator:not([class*="active"]):hover {
    opacity: 0.7;
    cursor: pointer;
}

.indicator:not([class*="active"]):hover span {
    opacity: 1;
}

.indicator:not([class*="active"]):hover::after {
    opacity: 0.6;
}

.indicator::after {
    position: absolute;
    opacity: 0;
    content: "";
    left: 6px;
    top: 6px;
    width: 12px;
    height: 12px;
    background: white;
}

.indicator.active::after {
    opacity: 1;
}

/* Horizontal separator */

.horizontal-separator {
    @apply .absolute .w-full .border-b-2;
    border-color: #27334A;
}

section#about-us .horizontal-separator {
    top: 3.4rem;
}

/* Stars */

#stars {
    @apply .fixed .w-full .h-full;
}

/* Validator */

label.error {
    @apply .text-wp-red;
}

/* Tooltipster */

.tooltipster-base * {
    color: black !important;
}

/* MEDIA */

/* MEDIA FOR HEADLINES */

@media (max-width: 320px) and (orientation: portrait) {

    section#top h2 {
        @apply .mb-2;
    }
}

/* MEDIA FOR HEADER */

@media (min-width: 1280px) {
    .logo {
        max-width: 11rem;
    }
}

@media (max-width: 480px) {

    .logo {
        max-width: 38%;
    }

}

/* MEDIA FOR MENU */

@media (max-width: 1023px) {

    .menu {
        @apply .flex-col .items-start .absolute .right-0 .pl-4 .py-4 .transition-transform .duration-500 .ease-in-out;
        background: #15151f;
        top: 5rem;
        width: 190px;
        transform: translateX(100%);
    }

    .menu li {
        @apply .mb-2 .pb-2 .mx-0;
    }

    .menu li:last-child {
        @apply .mb-0 .pb-0;
    }

    .menu li.portfolio {
        display: none;
    }

    @media (min-width: 1024px) {
        .menu li.portfolio {
            display: block;
        }
    }

    .menu li span {
        padding-left: 1.2rem;
        margin-left: auto;
    }

    .menu li i:before {
        transform: none;
    }

    .menu.menu-visible {
        transform: translateX(0);
    }
}

@media (max-width: 768px) and (max-width: 1024px) {
    /*.menu li:last-child {*/
    /*    @apply .hidden;*/
    /*}*/
    /*.menu li:nth-child(4) {*/
    /*    @apply .mb-0;*/
    /*}*/
}

@media (max-width: 480px) {
    .menu {
        transform: translate(100%, 0.5rem);
    }

    .menu.menu-visible {
        transform: translate(0, 0.5rem);
    }
}

@media (max-width: 414px) {
    .menu {
        transform: translate(100%, -0.2rem);
    }

    .menu.menu-visible {
        transform: translate(0, -0.2rem);
    }
}

@media (max-width: 375px) {
    .menu {
        transform: translate(100%, -0.5rem);
    }

    .menu.menu-visible {
        transform: translate(0, -0.5rem);
    }
}

@media (max-width: 320px) {
    .menu {
        transform: translate(100%, -1rem);
    }

    .menu.menu-visible {
        transform: translate(0, -1rem);
    }
}

@media (max-height: 320px) {
    .menu {
        transform: translate(100%, -0.8rem);
    }

    .menu.menu-visible {
        transform: translate(0, -0.8rem);
    }
}

/* MEDIA FOR SECTION #top */

@media (max-width: 1440px) {
    section#top button#see-more {
        @apply .mt-4 .uppercase .border .border-wp-blue-lighter .px-4 .py-2 .text-gray-500 .tracking-wider;
    }
}

@media (max-width: 1024px) {
    img.planet {
        top: 36vh;
    }

    section#top .indicators {
        @apply .hidden;
    }
}

@media (max-width: 1024px) and (orientation: portrait) {
    img.planet {
        top: 20vh;
        width: 60vw;
    }
}

@media (max-width: 768px) and (orientation: portrait) {
    img.planet {
        top: 35vh;
        width: 55vw;
    }
}

@media (max-width: 480px) and (orientation: portrait) {

    #planet-contents button {
        @apply .hidden;
    }

    #planet-contents {
        height: 25rem;
    }

    img.planet {
        top: 40vh;
        width: 60vw;
    }

    .main-headline {
        @apply .mt-16;
    }
}

@media (max-width: 320px) and (orientation: portrait) {

    #planet-contents h1 {
        @apply .mt-8;
    }

    #planet-contents {
        height: 22rem;
    }

    img.planet {
        top: 50vh;
        width: 70vw;
    }

}

@media (max-height: 480px) {
    #planet-contents {
        height: 100vh;
    }

    .main-headline {
        @apply .mt-20;
    }

    #planet-contents button {
        @apply .hidden;
    }

}

@media (max-height: 320px) {
    .logo {
        width: 20%;
    }

    .main-headline {
        @apply .mt-20;
    }

    section#top p {
        @apply .mt-4;
    }

}

@media (min-width: 1920px) {
    img.planet {
        width: 45vw;
    }
}

@media (min-height: 1024px) and (orientation: portrait) {
    #top .indicators {
        @apply .hidden;
    }
}

/* MEDIA FOR SECTION #about-us */

@media (max-width: 1024px) {

    #about-us .left-column {
        @apply .pr-16;
    }

    #about-us .right-column {
        @apply .pl-16;
    }
}

@media (max-width: 768px) {
    #about-us .left-column {
        @apply .pr-3;
    }

    #about-us .right-column {
        @apply .pl-0;
    }
}

@media (max-width: 768px) and (orientation: portrait) {
    #about-us .left-column {
        @apply .pr-3;
    }

    #about-us .right-column {
        @apply .pl-4;
    }
}

@media (max-width: 480px) and (orientation: portrait) {

    section#about-us {
        @apply .pt-0;
    }

    section#about-us #about-us-contents {
        @apply .flex-col;
    }

    section#about-us #about-us-contents .left-column, section#about-us #about-us-contents .right-column {
        @apply .w-full .mt-8;
    }

    section#about-us #about-us-contents .right-column {
        @apply .pl-0;
    }

}

@media (max-height: 480px) {

    section#about-us {
        @apply .pt-0;
    }

    section#about-us #about-us-contents {
        @apply .flex-col;
    }

    section#about-us #about-us-contents .left-column, section#about-us #about-us-contents .right-column {
        @apply .w-full .mt-8 .pl-0 .pr-0;
    }

}

@media (min-height: 650px) and (min-width: 1024px) {

    section#about-us #about-us-contents #who-we-are, section#about-us #about-us-contents #high-quality-services {
        @apply .mb-16;
    }

    section#about-us #about-us-contents p {
        @apply .mb-12;
    }

    section#about-us #about-us-contents p:last-of-type {
        @apply .mb-0;
    }
}

@media (min-height: 650px) and (min-width: 1680px) {

    section#about-us #about-us-contents p {
        @apply .mb-12;
    }

    section#about-us #about-us-contents .left-column {
        @apply .pr-40;
    }

}

/* MEDIA FOR SECTION #stay-tuned */

@media (max-width: 1280px) {

    section#stay-tuned .col {
        max-height: 22rem;
    }

    section#stay-tuned #stay-tuned-contents {
        @apply .flex-wrap;
    }

    section#stay-tuned .col:first-child {
        width: 37%;
        @apply .order-2 .pt-8;
    }

    section#stay-tuned .col:first-child img {
        @apply .pt-6 .pl-8 .pb-0;
    }


    section#stay-tuned .col:nth-child(2) {
        width: 61%;
        @apply .order-1 .py-0;
    }

    section#stay-tuned .col:nth-child(3) {
        width: 100%;
        @apply .order-3;
    }


}

@media (max-width: 1024px) {

    section#stay-tuned .col:first-child {
        width: 35%;
        @apply .pr-0;
    }

    section#stay-tuned .col:first-child img {
        @apply .pb-12;
    }


}

@media (max-width: 768px) {

    section#stay-tuned {
        @apply .pb-8;
    }

    section#stay-tuned .col {
        max-height: 23rem;
    }

    section#stay-tuned .col:first-child img {
        @apply .pr-8 .pt-8 .pb-0;
    }

    section#stay-tuned .col:first-child {
        width: 47%;
    }

    section#stay-tuned .col:nth-child(2) {
        width: 53%;
        @apply .pt-6;
    }

    section#stay-tuned .col:first-child img {
        width: 100%;
    }

}

@media (max-width: 480px) and (orientation: portrait) {

    section#stay-tuned #stay-tuned-contents {
        @apply .flex-col;
    }

    section#stay-tuned .col:first-child, section#stay-tuned .col:nth-child(2) {
        @apply .w-full;
    }


    section#stay-tuned .col {
        max-height: none;
    }

    section#stay-tuned .col:nth-child(2) {
        @apply .px-4 .pb-4 .pt-8;
    }

}

@media (max-width: 320px) and (orientation: portrait) {
    section#stay-tuned li {
        @apply .pl-0;
    }
}

@media (max-height: 320px) {

    section#stay-tuned .col:first-child {
        @apply .hidden;
    }

    section#stay-tuned .col:nth-child(2) {
        width: 100%;
    }
}


/* OTHER MEDIA */

@media (max-width: 480px) and (orientation: portrait) {

    .horizontal-separator {
        @apply .hidden;
    }
}

@media (max-width: 860px) and (orientation: landscape) {

    .horizontal-separator {
        @apply .hidden;
    }
}

/* MEDIA FOR footer */

@media (max-width: 480px) {

    footer .footer-contents {
        @apply .flex-col;
    }

    footer .footer-contents .col[class] {
        @apply .w-full .block .text-center .mb-8;
    }
}

/* MEDIA FOR overlay */

@media (max-width: 1920px) {
    .overlay-contents {
        max-width: 28%;
    }
}

@media (max-width: 1680px) {
    .overlay-contents {
        max-width: 30%;
    }
}

@media (max-width: 1440px) {
    .overlay-contents {
        max-width: 32%;
    }
}

@media (max-width: 1024px) {
    .overlay-contents {
        max-width: 42%;
    }
}

/* Gallery */
#gallery { visibility: hidden; }

@media (orientation: landscape) {
    #gallery, #portfolio {
        height: calc(100vh - 300px);
    }
}

@media (orientation: portrait) {
    #gallery, #portfolio {
        height: 60vh !important;
    }
}

#gallery .gallery-item, #buttons button {
    cursor: pointer;
}

#gallery .gallery-item {
    @apply .relative;
    filter: brightness(67%);
    opacity: 0.65;
    transition: all 0.2s ease;
}

#gallery .gallery-item button {
    @apply .absolute .bg-black .px-6 .py-2 .uppercase;
    font-size: 1rem;
    /*border: 1px solid #535353;*/
    opacity: 0;
    left: 50%;
    bottom: 0.3rem;
    transform: translateX(-50%);
    transition: all 0.2s linear;
}

#gallery .gallery-item button:hover {
    transform: translateX(-50%) scale(1.04);
}

#gallery .gallery-item.gallery-front-item:hover button {
    opacity: 0.6;

}

#gallery .gallery-item.gallery-front-item:hover button:hover {
    @apply .bg-wp-orange-dark;
    opacity: 0.9;
}

#gallery .gallery-item:hover, #gallery .gallery-item.gallery-front-item {
    filter: brightness(100%);
    opacity: 1;
}

#portfolio #buttons {
    @apply .absolute .text-wp-blue-light .text-4xl;
    bottom: 8rem;

}

#portfolio #buttons button {
    transition: all 0.2s ease;
}

#portfolio #buttons .left:hover {
    transform: translateX(-0.2rem);
}

#portfolio #buttons .right:hover {
    transform: translateX(0.2rem);
}



