/* FONTS */

@font-face {

    font-family: audiowide;
    src: url('../assets/fonts/Audiowide-Regular.eot'),
    url('../assets/fonts/Audiowide-Regular.svg') format('svg'),
    url('../assets/fonts/Audiowide-Regular.woff') format('woff');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'menu-icons';
    src:  url('../assets/fonts/menu-icons.eot?4jd2pc');
    src:  url('../assets/fonts/menu-icons.eot?4jd2pc#iefix') format('embedded-opentype'),
    url('../assets/fonts/menu-icons.ttf') format('truetype'),
    url('../assets/fonts/menu-icons.woff') format('woff'),
    url('../assets/fonts/menu-icons.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'menu-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
    content: "\e900";
}
.icon-responsive:before {
    content: "\e901";
}
.icon-group:before {
    content: "\e902";
}
.icon-home:before {
    content: "\e903";
}

.icon-hamburger:before {
    content: "\e904";
}

.icon-service:before {
    content: "\e905";
}

/* RESPONSIVE CONTAINER - DESKTOP FIRST */

.main-container {
    @apply .mx-auto;
    width: 1600px;
}

@media (max-width: 1920px) {
    .main-container {
        max-width: 1400px;
    }
}

@media (max-width: 1680px) {
    .main-container {
        max-width: 85%;
    }
}

@media (max-width: 1440px) {
    .main-container {
        max-width: 90%;
    }
}

@media (max-width: 1280px) {
    .main-container {
        max-width: 80%;
    }
}

@media (max-width: 1024px) {
    .main-container {
        max-width: 85%;
    }
}

@media (max-width: 768px) {
    .main-container {
        max-width: 92%;
    }
}

@media (max-width: 480px) {
    .main-container {
        max-width: 90%;
    }
}

/* RESPONSIVE CONTAINER FOR PANEL - DESKTOP FIRST */

.panel-container {
    @apply .mx-auto;
    width: 1600px;
}

@media (max-width: 1920px) {
    .panel-container {
        max-width: 100%;
    }
}

@media (max-width: 480px) and (orientation: portrait){
    .panel-container {
        max-width: 80%;
    }
}

@media (max-width: 479px) {
    .panel-container {
        max-width: 100%;
    }
}

/* HEADLINES */

h1 {
    @apply .text-wp-blue-light .font-audiowide;
}

h2 {

    @apply .text-wp-blue-light .mb-8 .font-audiowide .font-bold .tracking-wider .uppercase;
}

h3 {
    @apply .text-gray-300 .mb-8 .font-audiowide .font-bold .tracking-wider;
}

p, div, li:not([class*="menu-item"]) {
    @apply .text-wp-blue-cosmic .tracking-wide;
    font-size-responsive: 1.2rem 1.3rem 1680px 1920px;
    font-size-responsive: 0.9rem 1.2rem 320px 1680px;
}

span.span-font {
    @apply .text-wp-blue-cosmic-lighter .tracking-wide font-semibold;
}

